html, body {
    height: auto;
}

main {
    background-color: grey;
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 10;
    padding: 40px 100px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    height: 20vh;
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    padding: 40px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}