html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0 15%;
}

h1 {
    text-align: center;
}

ul {
    /* width: 100%; */
    display: grid;
    align-self: center;
    grid-template-columns: 25% 25% 25% 25%;
    list-style-type: none;
    /* margin: 0 auto; */
    /* align-items: center;
    justify-content: center; */
    padding: 10px;
    border: 2px solid black;
}

li {
    background-color: grey;
    color: white;
    border: 2px solid black;
    margin: 0 6px;
    padding: 10px;
}