html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    display: flex;
    color: white;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}

li {
    height: 80vh;
    flex: 1 0 100%;
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: grey;
    scroll-snap-align: start;
}

li:nth-child(1) {
    background-image: ('img/1.JPG');
}


li:nth-child(2n) {
    background-color: lightgrey;
}

nav {
    text-align: center;
}

a {
    color: black;
    font-size: 2em;
}

a:hover {
    color: blue;
}
